/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: antiquewhite;
}

header{
    
    text-align: center;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.carousel-container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-image.visible {
    display: block;
}